################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PopcornBackend/.vs/PopcornBackend
/PopcornBackend/bin/Debug/net6.0
/PopcornBackend/obj
/PopcornBackend/.vs/ProjectEvaluation
/PopcornBackend/Log
