<div class="mainBody">
    <p id="movieSectionTitle">Best in Pop</p>
<app-songcontainer [songsOfCategory]="Pop"></app-songcontainer>
<br><br>
<p id="movieSectionTitle">Best in Rock</p>
<app-songcontainer [songsOfCategory]="Rock"></app-songcontainer>
<br><br>
<p id="movieSectionTitle">Best in Folk</p>
<app-songcontainer [songsOfCategory]="Folk"></app-songcontainer>
<br><br>
<p id="movieSectionTitle">Best in Bollywood</p>
<app-songcontainer [songsOfCategory]="Bollywood"></app-songcontainer>
</div>



 
