<form >
    <h1 mat-dialog-title>{{inputdata.title}}</h1>
    
    <div mat-dialog-content>    
            
            <label class="form-label">Movie Name</label>
            <input class="form-control" name="movieName" type="text"  [(ngModel)]="movieForm.movieName" />  
        
            <label class="form-label">Movie</label>
            <input class="form-control" name="moviePath" type="file"  [(ngModel)]="tempMovieVideo" />
        
            <label class="form-label">Movie Poster</label>
            <input class="form-control" name="moviePoster" type="file"  [(ngModel)]="tempMoviePoster" />
        
            <label class="form-label">Movie Description</label>
            <textarea class="form-control" rows="4" cols="50" name="movieDescription" type="text"  [(ngModel)]="movieForm.movieDescription"></textarea>
            
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select [(ngModel)]="selectedCategoryId" name="selectedCategoryId">
                  <mat-option *ngFor="let cat of categories" [value]="cat.categoryId" >
                    {{cat.categoryName}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        
    </div>
    
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close color="acent">Cancel</button>
        <button type="submit" mat-raised-button color="primary" (click)="editMovie()" >Add</button>
    </div>
    
</form>