<div class="mainBody">
<p id="movieSectionTitle">Best in Horror</p>
<app-tvshowcontainer [tvShowsOfCategory]="Horror"></app-tvshowcontainer>
<br><br>
<p id="movieSectionTitle">Best in Comedy</p>
<app-tvshowcontainer [tvShowsOfCategory]="Comedy"></app-tvshowcontainer>
<br><br>
<p id="movieSectionTitle">Best in Adventure</p>
<app-tvshowcontainer [tvShowsOfCategory]="Adventure"></app-tvshowcontainer>
<br><br>
<p id="movieSectionTitle">Best in Animation</p>
<app-tvshowcontainer [tvShowsOfCategory]="Animation"></app-tvshowcontainer>
<br><br>
<p id="movieSectionTitle">Best in Science fiction</p>
<app-tvshowcontainer [tvShowsOfCategory]="ScienceFiction"></app-tvshowcontainer>

<p id="movieSectionTitle">Best in Action</p>
<app-tvshowcontainer [tvShowsOfCategory]="Action"></app-tvshowcontainer>

<p id="movieSectionTitle">Best in Drama</p>
<app-tvshowcontainer [tvShowsOfCategory]="Drama"></app-tvshowcontainer>
</div>