
.container-fluid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.loginImage{
    z-index: -2;
    width: 100%;
    margin-top: -10%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.loginImage img{
    max-width: 600px;
    max-height: 600px;
}
.example-card{
    min-width: 300px;
    max-height: 500px;
    display: flex;
    align-items: center;
    margin: 8% 20% 20%;
}
.mx-form{
    width: 60%;
    color: black;
    padding: 3%;
    border-radius: 7px;
    margin-top: 10%;
    margin-bottom: 5%;
}
.btn-dark{
    width: 100%;
    border: none;
    border-radius: 80px;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(46, 15, 16) 35%, rgb(20, 6, 6) 90%);
}
.form-control{
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    box-shadow: none !important;
    border-radius: 4px 4px 4px 4px;
}
h3{
    font-size: 2rem !important;
    font-weight: 350;
    color: whitesmoke;
}

label{
    color: azure;
}