<div class="mainBody">
    <p id="movieSectionTitle">Best in Action</p>
<app-moviecontainer [moviesOfCategory]="Action"></app-moviecontainer>

<p id="movieSectionTitle">Best in Drama</p>
<app-moviecontainer [moviesOfCategory]="Drama"></app-moviecontainer>

<p id="movieSectionTitle">Best in Horror</p>
<app-moviecontainer [moviesOfCategory]="Horror"></app-moviecontainer>

<p id="movieSectionTitle">Best in Comedy</p>
<app-moviecontainer [moviesOfCategory]="Comedy"></app-moviecontainer>

<p id="movieSectionTitle">Best in Adventure</p>
<app-moviecontainer [moviesOfCategory]="Adventure"></app-moviecontainer>

<p id="movieSectionTitle">Best in Animation</p>
<app-moviecontainer [moviesOfCategory]="Animation"></app-moviecontainer>

<p id="movieSectionTitle">Best in Science fiction</p>
<app-moviecontainer [moviesOfCategory]="ScienceFiction"></app-moviecontainer>
</div>


  


